{% extends 'base.html' %}

{% block content %}
<div style="margin-bottom: 10px;">
    <h1 style="display:inline">Businesses</h1>
    <a href="{% url 'create-business' %}" class="btn btn-primary">Add New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Entity Name</th>
            <th>Business Type</th>
            <th>Owner</th>
            <th>FEI/EIN Number</th>
            <!-- Add other fields as needed -->
        </tr>
    </thead>
    <tbody>
        {% for business in businesses %}
        <tr>
            <td>
                <a href="{% url 'business-detail' business.pk %}">
                    {{ business.entity_name }}
                </a>
            </td>
            <td>
                {{ business.get_business_type_display }}
            </td>
            <td>
                {{ business.owner }}
            </td>
            <td>
                {{ business.fei_ein_number}}
            </td>
            
            <!-- Add other fields as needed -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
